{% extends 'userbase.html' %}

{% block title%}User Dashboard{% endblock title%}
{% block body %} 

<div class="container  bg-light p-5 mt-3">
    <div class="row">
        <div class="col-lg-8 text-center">
             <h3>Welcome to OLMS!</h3>
            <hr>
            <div class="input-group">
                <label for="">Search Appointment</label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" value="">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock body %}